<!-- generics -->
<link rel="icon" href="/favicon/favicon-32.png" sizes="32x32">
<link rel="icon" href="/favicon/favicon-128.png" sizes="96x96">
<link rel="icon" href="/favicon/favicon-152.png" sizes="128x128">
<link rel="icon" href="/favicon/favicon-167.png" sizes="192x192">
<link rel="icon" href="/favicon/favicon-192.png" sizes="192x192">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href="/favicon/favicon-196.png">

<!-- iOS -->
<link rel="apple-touch-icon" href="/favicon/favicon-180.png" sizes="180x180">
