{{ "<!-- BEGIN FOOTER -->" | safeHTML }}
<footer>
<div class="wrapper row small-up-1 medium-up-3">
		
		<div class="column">
			<h4>Contact Info</h4>
			<hr>
			<a><span>Phone </span>{{ .Site.Params.footer.phone }}</a>
			<a><span>Email </span>{{ .Site.Params.footer.email }}</a>
			<a><span>Address </span>{{ .Site.Params.footer.address }}</a>
		</div>
		
		<div class="column">
			<h4>Links</h4>
			<hr>
			{{ $currentNode := . }}
			{{ range .Site.Menus.main }}
			<a class="nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name}}</a>
			{{end}}
		</div>
		
		<div class="column">
			<h4>Hours</h4>
			<hr>
			<p>We are open <br />
				Monday - Friday 7:30AM - 5:30PM<br />
				Saturday 8:00AM - Noon</p>
		</div>

	</div>
</footer> {{ "<!-- END FOOTER -->" | safeHTML }}
	
