{{ "<!-- BEGIN MAIN CONTENT -->" | safeHTML }}
<section class="main-content">
	<div class="wrapper row">
		<div class="small-12 medium-4 column content-one">
			<h1>Our Store</h1>
			<p>
				Representing Benjamin Moore Paints, Lenmar Lacquers, Wooster Brushes & Rollers along with 200 other brands.
				<br /><a href="/products">View Product & Services</a></p>
		</div>
		<div class="small-12 medium-4 column content-two">
			<h1> Hours</h1>
			<p>We are open <br />Monday - Friday 7:30AM - 5:30PM <br />Saturday 8:00AM - Noon</p>
		</div>
		<div class="small-12 medium-4 column content-three">
			<h1>Visit Us</h1>
			<p>1736 South Staples St. <br /> Corpus Christi, TX 78404 <br />(361) 884 - 3895</p>
		</div>
	</div>
</section> {{ "<!-- END MAIN CONTENT -->" | safeHTML }}
